*{
  box-sizing: border-box;
}
body{
  background: #dfe5ec;
}


.wrapper{
  max-width: 1010px;
  height: 98vh;
  margin: 0 auto;
  border: 1px solid #dfe5ec;

  display: grid;
  grid-template-columns: 31fr 69fr;
  grid-template-rows: 48px 48px 1fr;
  grid-template-areas:
          'header header'
          'search body'
          'aside body';
  background: #fff;
}

