*{
  box-sizing: border-box;
}
html{
  background: #e7ebf0;
}
body {
  margin: 0;
  font: 13px/18px Tahoma,sans-serif,Arial,Helvetica;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #dfe5ec;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.wrapper{
  max-width: 1010px;
  height: 98vh;
  margin: 0 auto;
  border: 1px solid #dfe5ec;

  display: grid;
  grid-template-columns: 31fr 69fr;
  grid-template-rows: 48px 58px 1fr;
  grid-template-areas:
          'header body'
          'search body'
          'aside body';
  background: #fff;
}

